@anatha:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_REGISTRY_SCOPED_TOKEN}
email=${NPM_EMAIL}


npmScopes:
 anatha:
   npmAlwaysAuth: true
   npmRegistryServer: "https://registry.npmjs.org/"
   npmAuthToken: ${NPM_REGISTRY_SCOPED_TOKEN}